section.carousel {
    width: 100vw;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.carousel-card img {
    display: block;
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

.carousel-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.carousel-btn button {
    width: 40px;
    height: 12px;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.3s ease;
    /* mix-blend-mode: difference; */
    background: transparent;
    position: relative;
    bottom: 27px;
    margin: 0 3px;
    z-index: 10;
}

.carousel-arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: calc(50% - 25px);
    z-index: 10;
}

.carousel-arrows button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background: white;
    transition: all 0.125s ease-in-out;
    box-shadow: 17px 8px 15px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    margin: 0 15px;
}

.carousel-arrows button:hover {
    transform: scale(1.1);
}
.carousel-arrows button:active {
    transform: scale(1.3);
}

.arrow {
    height: 50px;
    width: 50px;
    color: black;
}